   .body {
    background-color: #FFF;
       text-align: center;
}

/* h1 {
    font-family: "Clash Display", Gadget, sans-serif";
    
    color: #AED9E0;
    background-color: #FAF3DD;
    width: 50%;
    padding-left: 60px;
    border: hidden;
    border-radius: 12px;

} */


.title {
    font-family: 'ClashDisplay-Light';
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #AED9E0;
    background-color: #4f6d7a;
    width: 50%;
    padding: 20px;
    border: hidden;
    border-radius: 12px;
}


a {
    text-decoration: none;
    padding: 25px 25px 25px 25px;
    color: #AED9E0;
}

ul {
    list-style-type: none;
    font-family: 45px Roboto, Arial;
    color:#AED9E0
}

footer {
    font-family: "Clash Display";
    color: #AED9E0;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 13px;
}

.two {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 80px;
      margin-left: -10px;
}